<div class="right">
	<%= link_to 'Run All Scenarios', website_run_path(@website), class: "button" %>
	<%= link_to 'New Scenario', new_website_scenario_path(@website), class: "button" %>
</div>

<% if @passing_count == @scenarios_count %>
	<p class="button pass" style="margin-right: 20px; ">PASS</p>
<% else %>
	<p class="button fail" style="margin-right: 20px; ">FAIL</p>
<% end %>

<%= @passing_count %> / <%= pluralize @scenarios_count, "Scenario" %> Passing

<div class="spacer"></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scenarios.each do |scenario| %>
      <tr>
        <td class="<%=  scenario.latest_result ? "success" : "error" %>">
					<%= link_to scenario.name, website_scenario_run_path(scenario.website, scenario) %>
				</td>
        <td><%= link_to "Edit", edit_website_scenario_path(scenario.website, scenario) %></td>
        <td><%= link_to 'Delete', website_scenario_path(scenario.website, scenario), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
