<div class="right">
	<%= link_to "<< Back To Scenarios", website_path(@website), class: "button" %>
</div>

<% if @run[:pass] %>
	<p class="button pass" style="margin-right: 20px; ">PASS</p>
<% else %>
	<p class="button fail" style="margin-right: 20px; ">FAIL</p>
<% end %>

<h1><%= @scenario.name %></h1>
<h2><%= link_to "- Edit", edit_website_scenario_path(@scenario.website, @scenario) %></h2>

<div class="spacer"></div>

<table>
	<thead>
		<tr>
			<td>Success</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody>
		<% @run[:steps].each do |step| %>
			<tr class="<%= step.complete ? "success" : "error" %>">
				<td>
					<%=  "&check;".html_safe if step.complete == true %>
					<%=  "&#10007;".html_safe if step.complete == false %>
				</td>
				<td>
					<%= step.description %>
					<% unless step.reason.blank? %>
						<p class="reason"><%= step.reason %></p>
						<p class="trace"><%= step.trace %></p>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>